<%- include('./partials/header.ejs')%>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-5 d-inline">
                <h1 class="alert alert-success text-center" role="alert">Update Student</h1>
                <form action="/student/update/<%= data.id %>" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" class="form-control"
                            id="name" value="<%= data.name %>">
                    </div>
                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="text" name="age" class="form-control"
                        value="<%= data.age %>"
                            id="age" >
                    </div>
                    <div class="mb-3">
                        <label for="fees" class="form-label">Fees</label>
                        <input type="text" name="fees" class="form-control"
                        value="<%= data.fees %>"
                            id="fees">
                    </div>
                    <button class="btn btn-secondary">Update</button>
                   
                </form>
                <form action="/student" method="post" class=" m-auto">
                    <button class="btn btn-group-toggle">Back TO Home</button>
                </form>
            </div>
        </div>

        <%- include('./partials/footer.ejs')%>
